h1 {
    font-family: handlee;
    font-style: normal;
    font-size: 48px;
    color: $colorFive;
}

.parrafo1 {
    font-family: hind;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: $colorTwo;
}

.parrafo2 {
    font-family: hind;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: $colorFive;
}

h2 {
    font-family: handlee;
    font-style: normal;
    font-size: 36px;
    color: #6BA431;
    text-transform: capitalize;
}

h3 {
    font-family: handlee;
    font-style: normal;
    font-size: 24px;
    color: $colorTwo;
}

.btn-nar {
    width: 100%;
    height: 48px;
    padding: 5px;
    background-color: $colorOne;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-family: hind;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border: 0px;
}

.btn-nar:hover {
    background-color: $colorOne;
    color: $colorFour;
    border: $colorFive 3px;
}

.btn-green {
    width: 100%;
    height: 48px;
    padding: 5px;
    background-color: $colorSeven;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: $colorThree;
    font-family: hind;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border: 0px;
}

.btn-lg-org {
    width: 100%;
    height: 48px;
    padding: 5px;
    background-color: $colorSix;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: $colorThree;
    font-family: hind;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border: 0px;
}

.btn-red {
    width: 100%;
    height: 48px;
    padding: 5px;
    background-color: $colorFour;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-family: hind;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border: 0px;
}

.btn-white {
    width: 100%;
    height: 48px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    color: $colorFive;
    font-family: hind;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: 0px;
}

.btn-nar:hover {
    color: $colorSix;
}

.card-1 {
    background-color: $colorSix;
    border: 0px;
    border-radius: 0px 0px 10px 10px;
    width: 20rem;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
}

.card-1-text {
    color: #15202B;
    font-family: hind;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.tit {
    color: #15202B;
    font-family: hind;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.card-2 {
    background-color: #FFF6F3;
    border: 0px;
    border-radius: 15px 0px 0px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.card-title {
    color: #15202B;
    font-family: hind;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.card-body {
    color: $colorFive;
    font-family: hind;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.foto {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.foto-2 {
    border-radius: 15px 0px 0px 15px;
    height: 140px;
}

.img-small {
    border-radius: 15px 0px 0px 15px;
    padding-left: 0px;
}

.p-title {
    color: #77838F;
    font-family: hind;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.down-arr {
    background-color: $colorSix;
    height: 32px;
    width: 32px;
    border-radius: 24px;
    transform: rotate(180deg);
}

.circle {
    background-color: white;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.glide__slide {
    width: 100%;
}

.glide__arrow {
    color: $colorOne;
}


/*.fa {
    color: $colorOne;
    font-size: 20px;
}*/

.carousel-item {
    height: 70%;
}

.form-check-input:checked {
    background-color: $colorOne;
    ;
    border-color: $colorOne;
    border-radius: 50%;
}

.form-check-input:focus {
    border-color: $colorSix;
    outline: 0;
}

.icon {
    color: $colorFive;
    font-size: 50px;
}

.icon:hover {
    color: $colorOne;
}

.child {
    color: $colorFive;
    font-size: 30px;
}

.child:hover {
    color: $colorOne;
}

.ut {
    font-size: 30px;
    color: $colorFive;
}

.frame {
    height: 72px;
    width: 72px;
    border: 3px solid #77838F;
    border-radius: 10px;
}

.icon_s {
    transform: rotate(90deg);
    font-size: 48px;
    color: $colorFive;
}

.icon_s:hover {
    color: $colorOne;
}

.icon_k {
    font-size: 48px;
    color: $colorFive;
}

.icon_k:hover {
    color: $colorOne;
}

.check {
    color: $colorOne;
}

.kit_a:hover {
    filter: invert(56%) sepia(66%) saturate(1650%) hue-rotate(353deg) brightness(99%) contrast(104%);
}

.pressed {
    filter: invert(56%) sepia(66%) saturate(1650%) hue-rotate(353deg) brightness(99%) contrast(104%);
}

.heart {
    font-size: 30px;
    color: $colorFive;
}

.heart:hover,
.heart:target {
    font-size: 30px;
    color: $colorFour;
}

.card-image {
    object-fit: cover;
    height: 200px;
}

.peop {
    font-size: 26px;
    color: $colorOne;
}

.img-small {
    object-fit: cover;
    height: 165px;
    width: 100%;
}

.cursor {
    cursor: pointer;
}