.kitchen{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.text-1{
  font-family: handlee;
  font-size: 20px;
  color: #15202B;
}

.text-2{
  font-family: hind;
  font-size: 14px;
  color: #77838F;
}

.text-3{
  color: black;
}

.text-editP{
  font-family: handlee;
  font-size: 36px;
  color: #6BA431;
}

.accordion-header{
  font-family: Hind;
  font-size: 18px;  
}

.menu-1{
  border: none;
  font-family: hind;
  background-color: #C1D6AB;
  border-radius: 5px;  
}

.row-menu{
  width: 300px;
  height: 48px;
}

.choose-period{
  width: 300px;
  height: 48px;
}

.period-button{
  background-color: #FFF6F3;
  border: none;
  font-family: hind;
}





