header {
    height: 260px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFDBD1), to(white));
    background-image: linear-gradient(#FFDBD1, white);
}

.logo {
    width: 60px;
}

.logo-title {
    font-family: handlee;
    font-style: normal;
    font-size: 30px;
    color: #E30C0C;
}